.wrapper{
    margin: 5rem 3rem;
}
.wrapper h3, .center{
    margin: 1rem auto;
    text-align: center;
}

.donate-container{
    padding: 1rem 2rem 2rem 2rem;
    margin: 2rem 0;
    border            : 2px solid transparent;
    border-image      : linear-gradient(to bottom right, palevioletred, rgb(55, 55, 235)) 1;
}